    <section class="container">
        <h1 class="h1sect6">Recent Projects</h1>
        <p class="subtitle">With tools to make every part of your process more human and a support team excited to help you, getting started with us has never been easier.</p>
        <div class="projects">
            <div class="project">
                <img src="../img/image6.1.png" alt="Winery Dry Creek Building">
                <h2 class="project-title">Winery Dry Creek Building</h2>
                <p class="project-category">Art Modern</p>
            </div>
            <div class="project">
                <img src="../img/image6.2.png" alt="Creative Workplace Design">
                <h2 class="project-title">Creative Workplace Design</h2>
                <p class="project-category">Minimalist</p>
            </div>
            <div class="project">
                <img src="../img/image6.3.png" alt="Bedroom Interior Pot Work">
                <h2 class="project-title">Bedroom Interior Pot Work</h2>
                <p class="project-category">Modern</p>
            </div>
            <div class="project">
                <img src="../img/image6.4.png" alt="Light Ambience Sepia Design">
                <h2 class="project-title">Light Ambience Sepia Design</h2>
                <p class="project-category">Scandinavian</p>
            </div>
        </div>
    </section>
