<section>
    <div class="section_div1">
        <h1>Interior Design</h1>
        <p>Enhancing the interior to achieve a healthier environment for the people using right space.</p>
    <button class="button_text1">View More
        <img class="button_img1" src="../img/arrow-right.svg" alt="">
    </button>
    </div>
     <div class="section_div2">
        <h1>Furniture</h1>
        <p>Movable articles that are used to make a room or building suitable for living or working.</p>
    <button class="button_text2">View More
        <img class="button_img2" src="../img/arrow-right.svg" alt="">
    </button>
    </div>
     <div class="section_div3">
        <h1>Flooring</h1>
        <p>Thin object any finished material applied over a floor structure to provide a walking surface.</p>
    <button class="button_text3">View More
        <img class="button_img3" src="../img/arrow-right.svg" alt="">
    </button>
    </div>
</section>